<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="deliverydate" translate="label" type="text" sortOrder="1300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Delivery Date</label>
            <tab>ecomteck</tab>
            <resource>Ecomteck_DeliveryDate::deliverydate</resource>
            <group id="general" type="text"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable Order Delivery Date.]]></comment>
                </field>
                <field id="format" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Date Format:</label>
                    <comment>yy-mm-dd</comment>
                </field>
                <field id="disabled" translate="label" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disabled Delivery Date</label>
                    <source_model>Ecomteck\DeliveryDate\Model\Config\Source\Disabled</source_model>
                </field>
                <field id="after_days" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Min Days Can Delivery:</label>
                </field>
                <field id="enable_time_picker" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Time Picker</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable Time Picker.]]></comment>
                </field>
                <field id="hourMin" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delivery Hour Start:</label>
                    <depends>
                        <field id="enable_time_picker">1</field>
                    </depends>
                    <comment>Should be 8=>8AM, 9=>9AM </comment>
                </field>
                <field id="hourMax" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delivery Hour End:</label>
                    <depends>
                        <field id="enable_time_picker">1</field>
                    </depends>
                    <comment>Should be 22=>7PM, 23=>8PM because Minutes cover 1hr </comment>
                </field>
            </group>
        </section>
    </system>
</config>
